/* Milestone 1
Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto */

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #dadbd2 85%, #009688 85%);
    padding: 30px;
}


.main-container{
    margin: auto;
    width: 80%;
    z-index: 1;
    height: 700px;
}

.main-chat{
    height: calc(100vh - 140px);
    overflow-y: scroll;
}

.chat-container{
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 400px);
}

ul{
    padding-left: 0 !important;
}

ul li{
    padding: 1rem 0;
    border-bottom: 1px solid #b1afaf;
    list-style-type: none;

}
li:hover{
    background-color: #e9ebeb;
}

.icon-container{
    margin-left: 1rem;
    width: 50px;
    height: 50px;
}
.icon-container-top i{
    margin-right: 1rem;
}

.icons-chat-container i{
    color: #b1afaf;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.chat-container .grey-bar{
    border-left: 1px solid #b1afaf;
    height: 78px;
}
.grey-bar{
    height: 70px;
    background-color: #eaeaea;
}

.sidebar{
    background-color: white;
    width: 400px;
    overflow: scroll;
}

.list-contacts{
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar .grey-bar{
    position: fixed;
    height: 70px;
    width: 400px;
    z-index: 1;
    padding: 0 .5rem;
}
.notification{
    padding: 1rem 0;
    margin-top: 4.3rem;
    background-color: #8edafc;
    width: 100%;
    height: 70px;
}
.notification i{
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    padding: 0.86rem;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
}
.text-notification p{
    width: 300px;
    font-size: 0.8rem;
}
.text-notification a{
    font-size: 0.7rem;
}
.search-bar{
    width: 100%;
    margin: 0 1.3rem;
}

.chat-container .grey-bar i{
    color: #6b7173;
    font-size: 1.2rem;
}
.searchbar-list{
    padding: 0.5rem 0.5rem;
    background-color: #f9f9f9;
}
.search{
    width: 100%;
    border: 1px solid #b1afaf;
}
.search i{
    margin-left: 0.5rem;
    margin-right: 1.2rem;
    color: #b1afaf;
}
.search input{
    border: none;
    background-color: #f9f9f9;
}
.contacts{
    font-size: 0.8rem;
}
.text-item{
    width: 300px;
    padding: 0 0.55rem;
}
.message-user,.message-speaker{
    font-size: 0.75rem;
    width: 270px;
    background-color: #d5f9ba;
    border-radius: 0.85rem;
    padding: 0.45rem 0.55rem;
}
.message-speaker{
    background-color: white;
}
.message-speaker span{
    margin-top: 1rem;
    font-size: 0.55rem;
}
.message-user span{
    margin-top: 1rem;
    font-size: 0.55rem;
}

.user-name{
    font-size: 0.8rem;
    width: 400px;
}