<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <!-- CSS LINK -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- BOOTSTRAP V.5.2.0 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <!-- FONTAWESOME 6.4.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- ICON -->
    <link rel="icon" href="./img/whatsapp_icon.png">
    <!-- GOOGLE FONTS LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <main>
            <div class="main-container d-flex">
                <div class="sidebar">
                    <div class="grey-bar d-flex justify-content-between align-items-center">
                        <div class="icon-container d-flex align-items-center">
                            <img class="img-fluid rounded-circle" src="./img/avatar_1.jpg" alt="img-avatar-1">
                            <span class="ps-2">User</span>
                        </div>
                        <div class="icons-chat-container" @click="activeContact">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="list-contacts">
                        <div class="notification d-flex justify-content-between align-items-center">
                            <div class="icon-container d-flex">
                                <i class="fa-solid fa-bell-slash"></i>
                            <div class="ps-2 pt-1 text-notification">
                                    <p class="mb-0">Ricevi notifiche di nuovi messaggi</p>
                                    <p class="mb-0"><a class="text-secondary" href="#">
                                       Attive notifiche Desktop
                                    </a>
                                    </p>
                            </div>
                            </div>
                        </div>
                        <div class="searchbar-list">
                            <div class="search px-2 d-flex align-items-center">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input class="form-control" type="search" placeholder="Cerca o inzia una nuova chat" aria-label="Search" v-model="search">
                                
                            </div>
                        </div>
                        <div class="contacts">
                            <ul>
                                <li v-for="(element, index) in filteredList()" class="d-flex align-items-center" @click="activeContact(index)">
                                    <div class="icon-container">
                                        <img class="img-fluid rounded-circle" :src="contacts[index].avatar" alt="img-avatar-1">
                                    </div>
                                    <div class="text-item ms-1">
                                        <span class=" fw-semibold d-flex justify-content-between">
                                            {{ element.name }}
                                            <span class="fw-normal text-secondary">
                                                12:00
                                            </span>
                                        </span>
                                        <p class="fw-normal text-secondary">
                                            Ultimo messagio inviato
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="chat-container" v-if="activeContact !== false">
                    <!-- TOP GREY BAR -->
                    <div class="grey-bar d-flex  align-items-center px-2 justify-content-between">
                        <div class="icon-container d-flex">
                            <img class="img-fluid rounded-circle" :src="contacts[activeIndex].avatar" alt="img-avatar-1">
                        <div class="ps-2 pt-1">
                                <p class="mb-0">{{contacts[activeIndex].name}}</p>
                                <p class="text-secondary mb-0 user-name">Ultimo accesso oggi alle 12:00</p>
                        </div>
                        </div>
                        <div class="icon-container-top d-flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="main-chat p-5 d-flex flex-column align-items-end">
                        <p class="d-flex justify-content-between align-items-center" :class="elements.status === 'sent' ? 'message-user' : 'message-speaker'" v-for="(elements, index) in contacts[activeIndex].messages">
                            {{ elements.message }}
                            <span class="text-secondary align-self-end">
                              {{ elements.date.substring(10, 16) }}
                            </span>
                          </p>                          
                    </div>
                    <!-- BOTTOM GREY BAR -->
                    <div class="grey-bar d-flex  align-items-center px-4">
                        <i class="fa-regular fa-face-smile"></i>
                        <div class="search-bar">
                            <input class="form-control" type="search" placeholder="Scrivi un messagio" aria-label="Search" v-model="newElement" @keydown.enter="addToChat">
                        </div>
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </main>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>